* {
    margin: 0;
    padding: 0;
}

/* header {
    background-image: url("./source/clube.png");
    background-size: cover;
    
} */

.logo {
    position: absolute;
    size: 0px;

    
}

.header_items {
    /* display: flex;
    flex-direction: row; */
    background-image: url('./source/clube.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.img_clube {
    width: 100%;
    margin-bottom: -4px;
}

.tirinha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tirinha_cor {
    flex: auto; 
    height: 1pc; 
    width: fit-content;
}

.apresentacao {
    margin: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row1 {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.apresentacao__ayumu {
    border-radius: 15px;
    background-color: #F0939E;
}

.apresentacao__ayumu__pic{
    margin-bottom: -4px;
}

.bg{
    width: 100%;
}

.contato{
    background: radial-gradient(#FFB0C3, #FFBECE);

}